<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Inventory Details</h5>
        <!-- <p class="card-category">Sorted by Days</p> -->
      </div>
      <div class="card-body table-responsive pt-0">
        <ngx-loading [show]="loading"
          [config]="{backdropBackgroundColour:'rgba(0, 0, 0, 0.05)',animationType: ngxLoadingAnimationTypes.rectangleBounce, primaryColour: '#E3E3E3', backdropBorderRadius: '3px'}">
        </ngx-loading>
        <table *ngIf="tableloaded" class="table table-hover table-sm">
          <thead class="thead-dark">
            <tr>
              <th scope="col" sortable="ID" (sort)="onSort($event)">ID #</th>
              <th scope="col" sortable="Name" (sort)="onSort($event)">Name</th>
              <th scope="col" sortable="NO_OF_PACKAGES" (sort)="onSort($event)">Bags</th>
            </tr>
          </thead>
          <tbody>


            <tr *ngFor="let ngo of NGOData | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
              <td>{{ ngo.ID }}</td>
              <td>{{ ngo.Name }}</td>
              <td>{{ ngo.Capacity }}</td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-between p-2">
          <ngb-pagination [collectionSize]="NGOData.length" [(page)]="page" [maxSize]="10" [rotate]="true"
            [ellipses]="true" [boundaryLinks]="true"></ngb-pagination>
        </div>
        <!-- <canvas id=chartHours width="400" height="100"></canvas> -->
      </div>
      <!-- <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-history"></i> Updated 3 minutes ago
        </div>
      </div> -->
    </div>
  </div>
</div>