
<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header " *ngIf="usertype=='donor'">
        <h3 class="title">Locate People!</h3>
        <p class="card-category">Find out how many families have benefitted from your Donation!</p>
      </div>
      <div class="card-header " *ngIf="usertype=='government'">
        <h3 class="title">Locate Entities!</h3>
        <p class="card-category">Find out how many NGOs are working in the country, How many people have benefitted from this platform!</p>
      </div>
      <ngx-loading [show]="loading" [config]="{backdropBackgroundColour:'rgba(0, 0, 0, 0.05)',animationType: ngxLoadingAnimationTypes.rectangleBounce, primaryColour: '#18A2B8', backdropBorderRadius: '3px'}"></ngx-loading>
      <div class="card-body ">
        <div id="map" style="width:100%; height: 600px;" ></div>
      </div>
    </div>
  </div>
</div>
