<!-- <div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Paper Table Heading</h5>
        <p class="category">Created using Montserrat Font Family</p>
      </div>
      <div class="card-body">
        <div class="typography-line">
          <h1>
            <span>Header 1</span>The Life of Paper Dashboard </h1>
        </div>
        <div class="typography-line">
          <h2>
            <span>Header 2</span>The Life of Paper Dashboard </h2>
        </div>
        <div class="typography-line">
          <h3>
            <span>Header 3</span>The Life of Paper Dashboard </h3>
        </div>
        <div class="typography-line">
          <h4>
            <span>Header 4</span>The Life of Paper Dashboard </h4>
        </div>
        <div class="typography-line">
          <h5>
            <span>Header 5</span>The Life of Paper Dashboard </h5>
        </div>
        <div class="typography-line">
          <h6>
            <span>Header 6</span>The Life of Paper Dashboard </h6>
        </div>
        <div class="typography-line">
          <p>
            <span>Paragraph</span>
            I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.
          </p>
        </div>
        <div class="typography-line">
          <span>Quote</span>
          <blockquote>
            <p class="blockquote blockquote-primary">
              "I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at."
              <br>
              <br>
              <small>
                - Noaa
              </small>
            </p>
          </blockquote>
        </div>
        <div class="typography-line">
          <span>Muted Text</span>
          <p class="text-muted">
            I will be the leader of a company that ends up being worth billions of dollars, because I got the answers...
          </p>
        </div>
        <div class="typography-line">
          <span>Primary Text</span>
          <p class="text-primary">
            I will be the leader of a company that ends up being worth billions of dollars, because I got the answers...</p>
        </div>
        <div class="typography-line">
          <span>Info Text</span>
          <p class="text-info">
            I will be the leader of a company that ends up being worth billions of dollars, because I got the answers... </p>
        </div>
        <div class="typography-line">
          <span>Success Text</span>
          <p class="text-success">
            I will be the leader of a company that ends up being worth billions of dollars, because I got the answers... </p>
        </div>
        <div class="typography-line">
          <span>Warning Text</span>
          <p class="text-warning">
            I will be the leader of a company that ends up being worth billions of dollars, because I got the answers...
          </p>
        </div>
        <div class="typography-line">
          <span>Danger Text</span>
          <p class="text-danger">
            I will be the leader of a company that ends up being worth billions of dollars, because I got the answers... </p>
        </div>
        <div class="typography-line">
          <h2>
            <span>Small Tag</span>
            Header with small subtitle
            <br>
            <small>Use "small" tag for the headers</small>
          </h2>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="container-contact100">
  <div class="wrap-contact100 shadow-lg">
    <form class="contact100-form validate-form">
      <span class="contact100-form-title">
        Send Us A Message
      </span>

      <label class="label-input100" for="first-name">Tell us your name *</label>
      <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Type first name">
        <input id="first-name" class="input100" type="text" name="first-name" placeholder="First name">
        <span class="focus-input100"></span>
      </div>
      <div class="wrap-input100 rs2-wrap-input100 validate-input" data-validate="Type last name">
        <input class="input100" type="text" name="last-name" placeholder="Last name">
        <span class="focus-input100"></span>
      </div>

      <label class="label-input100" for="email">Enter your email *</label>
      <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
        <input id="email" class="input100" type="text" name="email" placeholder="Eg. example@email.com">
        <span class="focus-input100"></span>
      </div>

      <label class="label-input100" for="phone">Enter phone number</label>
      <div class="wrap-input100">
        <input id="phone" class="input100" type="text" name="phone" placeholder="Eg. +92300-0000000">
        <span class="focus-input100"></span>
      </div>

      <label class="label-input100" for="message">Message *</label>
      <div class="wrap-input100 validate-input" data-validate = "Message is required">
        <textarea id="message" class="input100" name="message" placeholder="Write us a message"></textarea>
        <span class="focus-input100"></span>
      </div>

      <div class="container-contact100-form-btn">
        <button class="contact100-form-btn">
          Send Message
        </button>
      </div>
    </form>

    <div class="contact100-more flex-col-c-m" style="background-image: url('../../assets/img/bg-01.jpg');">
      <div class="flex-w size1 p-b-47">
        <div class="txt1 p-r-25">
          <span class="lnr lnr-map-marker"></span>
        </div>

        <div class="flex-col size2">
          <span class="txt1 p-b-20">
            Address
          </span>

          <span class="txt2">
            Minister Secretariat, Blue Area E-10, Islamabad 
          </span>
        </div>
      </div>

      <div class="dis-flex size1 p-b-47">
        <div class="txt1 p-r-25">
          <span class="lnr lnr-phone-handset"></span>
        </div>

        <div class="flex-col size2">
          <span class="txt1 p-b-20">
            Lets Talk
          </span>

          <span class="txt3">
            +9221 392 22487
          </span>
        </div>
      </div>

      <div class="dis-flex size1 p-b-47">
        <div class="txt1 p-r-25">
          <span class="lnr lnr-envelope"></span>
        </div>

        <div class="flex-col size2">
          <span class="txt1 p-b-20">
            General Support
          </span>

          <span class="txt3">
            contactme@gov.pk
          </span>
        </div>
      </div>
    </div>
  </div>
</div>