<div class="limiter">
    <div class="container-login100">
        
        <div class="wrap-login100">
            <div class="fixed-top">
                <img src="assets/img/ibm-ar21.svg" alt="IMG">
            </div>
            <div class="login100-pic js-tilt" data-tilt>
                <img src="assets/img/img-01.png" alt="IMG">
            </div>
            <div class="login100-form validate-form mb-3">
                <span class="login100-form-title">
                    Register Underpriviledged Family!
                </span>

                <form method="POST" id="signup-form" class="signup-form" enctype="multipart/form-data">
                    <h3></h3>
                    <fieldset>
                        <span class="step-current">Step 1 / 3</span>
                        <div class="form-group  mb-2">
                            <input id='cnic' class="input100" type="tel"  placeholder="Social Security #">
                            <span class="focus-input100"></span>
                        </div>
                    </fieldset>

                    <h3></h3>
                    <fieldset>
                        <span class="step-current">Step 2 / 3</span>
                        <div class="form-group">
                            
                            <div class=" mb-2 label">
                                    <span style="font-size: 16px;">Are the credentials correct? </span>
                                    <br>
                                    <span style="font-size: 14px">is Person's Name - </span><span id="name" class="shadow-small font-weight-bold"></span>
                                    <hr>
                                    <span style="font-size: 14px">is Person Father's Name - </span><span id="fathername" class="shadow-small font-weight-bold"></span>
                            </div>
                        </div>
                    </fieldset>

                    <h3></h3>
                    <fieldset>
                        <span class="step-current">Step 3 / 3</span>
                        <div class="form-group mb-2">
                            <input class="input100" type="tel"  placeholder="Mobile Phone #">
                            <span class="focus-input100"></span>
                        </div>
                    </fieldset>
                </form>

                <div id='resId' class="p-t-40" style="display: none;">
                    <span id="registerResponse"></span>
                </div>
                <div id="citizenid" class="text-center p-t-136 login">
                    <a class="txt2" href="/#/donor">
                        Donor's Login
                        <i class="fa fa-users m-l-5" aria-hidden="true"></i>
                    </a>
                    
                </div>
            </div>
        </div>
    </div>
</div>