
<!-- banner part start-->
<section class="banner_part" >
    <div class="blackLayer">
    <div class="container">
        <div class="row align-items-center">
            <img src="assets/img/logo1.png" class="img-responsive pb-2 col-md-6" alt="IMG">
            <div class="col-lg-6">
                <div class="banner_text">
                    <div class="banner_text_iner">
                        <h1>Doing Nothing is not an <span style="color:orange">Option</span> 
                            of our Life
                        </h1>
                        <p>The world has never faced a crisis like COVID-19. The pandemic is impacting communities everywhere. It’s our turn to support our people in this time of need. Help your community's needy people through this platform by registering them. Government or NGOs will do the rest!</p>
                        <a href="/#/donor" class="btn_2">Portal</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>